html {
    min-height: 100vh;
}
body {
    background-color: #F8F8FF !important;
    font-family: 'Stylish', sans-serif !important;
    min-height: 100vh;
}
main {
    height: calc(100vh - 50px);
}
.titleContainer p {
    width: 100%;
    max-width: 56%;
    margin: auto;
}
.container {
    max-width: 800px !important;
}
.form-container {
    width: fit-content;
    margin: auto;
}
.footer .footer-content{
    margin: auto;
    position: fixed;
    bottom:10px;
}